# ***************************************************
# This Config file is for SpectaProbe Ver2.0
#
# DON'T MAKE ANY CHANGES WITHOUT CONSULTING PINNACLE SUPPORT TEAM
# ANY CHANGE MAY LEAD TO INCORRECT FUNCTIONING OF SPECTAPROBE
#
#
# Copyright (c) 2016, Pinnacle Digital (P) Ltd. New-Delhi
# ***************************************************

# ***************************************************
#  DO NOT MOVE THIS SECTION
#  IT HAS TO BE THE FIRST SECTION OF THE CONFIG FILE
# ***************************************************
GX_PROBE                                false
S6A_PROBE                               true


# ***************************************************
# PROBE_ID : ProbeId is a Three digits number, First digit is Site Id (1 ~ 9) 
#	   : & last Two digits are Probe id (10 ~ 99)
#	   : Site Id: 1- KBG
#	   : This is First Probe in KBG so Probe no is 10 & probe Id is 110 
# ***************************************************
PROBE_ID                                110


# ***************************************************
# Log levels:
#    None         = 0,
#    Debug        = 1,
#    Trace        = 2,
#    Info         = 4,
#    Warn         = 8,
#    Minor        = 16,
#    Major        = 32,
#    Error        = 64,
#    SeriousError = 128
# ***************************************************
LOG_LEVEL                               4
PRINT_STATS                             false
PRINT_STATS_FREQ_SEC                    60
LOG_STATS_FREQ_SEC                      60
DUMP_MAC                                false

XDR_DIR                                 /data/xdr/SpectaProbe/
LOG_DIR                                 /var/log/pinnacle/SpectaProbe/
DATA_DIR                                /data/SpectaProbe/

ADMIN_FLAG                              true
ADMIN_PORT                              tcp://*:4500

# ens2f0	- SysLog
# ens2f1	- DNS, RADIUS	

ETHERNET_INTERFACE                      em3

#SOLAR_INTERFACE                         ens3f0,ens3f1,ens1f0,ens1f1
#SOLARFLARE_HW_TIMESTAMP                 true

PKT_LISTENER_CPU_CORE                   1

MAX_PKT_LEN_PER_INTERFACE              800

# Per Router pps capacity, allowed values between (1 to 1,000,000)

PPS_PER_INTERFACE                       100000
PPS_CAP_PERCENTAGE                      90

ROUTER_PER_INTERFACE                    2
PKT_ROUTER_CPU_CORE                     6,8


# ------------------------------------------------------------
#-SESSION_MANAGER
# ------------------------------------------------------------
GX_SESSION_CLEAN_UP_SCAN_FREQ_SEC       15
GX_SESSION_CLEAN_UP_TIMEOUT_SEC         60

S6A_SESSION_CLEAN_UP_SCAN_FREQ_SEC       15
S6A_SESSION_CLEAN_UP_TIMEOUT_SEC         60

# ***************************************************
# Session Manager Specific Parameters
# ***************************************************

GX_SESSION_MANAGER_INSTANCES               1
GX_SESSION_MANAGER_CPU_CORE                22,23,24,25,26

GX_FLUSHER_CPU_CORE                     39
GX_WRITE_XDR                            true
GX_XDR_WRITE_CPU_CORE                 40
GX_FILE_PREFIX                          Gx

S6A_SESSION_MANAGER_INSTANCES               1
S6A_SESSION_MANAGER_CPU_CORE                22,23,24,25,26

S6A_FLUSHER_CPU_CORE                     39
S6A_WRITE_XDR                            true
S6A_XDR_WRITE_CPU_CORE                 40
S6A_FILE_PREFIX                          S6a
